In [1]:
import pandas as pd

# Charger le dataset Daily
df_daily = pd.read_csv('property_daily_data_wei.csv')

# Aperçu pour vérifier que typeOfRental est bien "DAILY"
print(df_daily['typeOfRental'].unique())
df_daily.head()

['DAILY']

,city,country,longitude,latitude,sqm,total_rooms,typeOfRental,nombre_etoiles,rental_rent
0,Sevilla,Spain,-5.954629,37.315394,170,4,DAILY,5,51874867251541424
1,Valencia,Spain,-0.311802,39.500025,277,6,DAILY,5,69719437990402128
2,Dubai,UAE,55.325372,25.182524,305,7,DAILY,3,115958354935135632
3,New York,USA,-73.995976,40.635002,321,9,DAILY,5,192013821094227360
4,Casablanca,Morocco,-7.627369,33.632249,328,8,DAILY,3,23025435346354076

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

# 1. Définition des colonnes (Identique au modèle Monthly)
X = df_daily.drop(columns=['rental_rent', 'typeOfRental'])
y = df_daily['rental_rent']

categorical_features = ['city', 'country']
numerical_features = ['longitude', 'latitude', 'sqm', 'total_rooms', 'nombre_etoiles']

# 2. Pipeline de transformation
preprocessor_daily = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ])

# 3. Application et Division Train/Test
X_processed = preprocessor_daily.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_processed, y, test_size=0.2, random_state=42)

print(f"Preprocessing terminé. Features : {X_processed.shape[1]}")

Preprocessing terminé. Features : 28